{% extends 'base.html.twig' %}

{% block title %}Bonjour!{% endblock %}

{% block body %}


<main class="flex min-h-screen  flex-col items-center justify-between w-full p-24 bg-white">
             {% include('includes/nav.html.twig') %}
            <div class="bg-gray-50 ">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
                        {# présentation #}
                        <section class="mt-4 bg-white rounded-lg shadow-lg p-4 présentation">
                            <h2 class="text-2xl m-4  text-green-700 font-semibold text-center">Présentation</h2><br />
                            <p>Situé au cœur de la magnifique plage de Contis, le restaurant Excursion vous invite à un voyage culinaire unique. Notre cuisine fusionne les saveurs authentiques du Sud-Ouest de la France avec des influences exotiques venues d’ailleurs. Voici ce que vous pouvez attendre de votre expérience chez nous :</p><br /><br />
                            <p><strong>Des produits locaux et frais :</strong> Notre chef s’approvisionne auprès des producteurs locaux pour garantir la fraîcheur et la qualité de chaque plat.</p><br />
                            <p><strong>Le Sud-Ouest à l’honneur :</strong> Dégustez des spécialités régionales telles que le foie gras, le magret de canard, et les fromages de brebis. Chaque bouchée vous transportera dans les vignobles et les marchés animés de la région.</p><br />
                            <p><strong>Une touche exotique :</strong> Notre menu propose également des plats inspirés des cuisines d’autres horizons. Des épices envoûtantes, des fruits tropicaux et des herbes aromatiques viennent sublimer nos créations.</p><br />
                            <p><strong>Vue panoramique sur l’océan :</strong> Installez-vous en terrasse et profitez d’une vue à couper le souffle sur l’océan Atlantique. Le bruit des vagues accompagnera votre repas.</p><br />
                            <p><strong>Ambiance chaleureuse :</strong> Notre équipe attentionnée vous accueillera avec le sourire et veillera à ce que votre expérience soit mémorable.</p><br /><br />
                            <p>Que vous soyez un amateur de cuisine locale ou un aventurier des saveurs, Excursion est l’endroit idéal pour un déjeuner ensoleillé ou un dîner romantique. Réservez dès maintenant et laissez-vous emporter par ce voyage gustatif inoubliable !</p>
                        </section>
                        {# {/* carte */} #}
                        <section class="mt-4 bg-white rounded-lg shadow-lg p-4">
                            <h2 class="text-2xl m-4  text-green-700 font-semibold text-center">Notre Carte</h2>
                            <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
                                <button  class="">
                                    <div class="group relative  bg-white rounded-lg shadow-lg p-4 transform hover:scale-105 transition-transform mb-6">
                                        <h3 class=" text-2xl text-green-700 text-center font-semibold m-4">Entrée</h3>
                                        <div class="relative h-80 w-full overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1  sm:h-64">
                                            <img src="https://images.unsplash.com/photo-1580638149300-65f0b9e8fbff?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="h-full w-full object-cover object-center" />
                                        </div>

                                    </div>
                                </button>

                                <button  class="">
                                    <div class="group relative  bg-white rounded-lg shadow-lg p-4 transform hover:scale-105 transition-transform mb-6">
                                        <h3 class=" text-2xl text-green-700 text-center font-semibold m-4">Plats</h3>
                                        <div class="relative h-80 w-full overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1  sm:h-64">
                                            <img src="https://images.unsplash.com/photo-1464093515883-ec948246accb?q=80&w=2659&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="h-full w-full object-cover object-center" />
                                        </div>
                                    </div>
                                </button>

                                <button  class="">
                                    <div class="group relative  bg-white rounded-lg shadow-lg p-4 transform hover:scale-105 transition-transform mb-6">
                                        <h3 class=" text-2xl text-green-700 text-center font-semibold m-4">Fromage et Dessert</h3>
                                        <div class="relative h-80 w-full overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1  sm:h-64">
                                            <img src="https://images.unsplash.com/photo-1625944526412-89403327825d?q=80&w=2695&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="h-full w-full object-cover object-center" />
                                        </div>

                                    </div>
                                </button>
                            </div>
                        </section>
                        {# {/* Menu */} #}
                        <section class="mt-4 bg-white rounded-lg shadow-lg p-4">
                            <h2 class="text-2xl m-4  text-green-700 font-semibold text-center">Nos Menus</h2>
                            <div>
                                <button  class="w-full">
                                    <div class="group relative  bg-white rounded-lg shadow-lg p-4 transform hover:scale-105 transition-transform mb-6">

                                        <div class="relative h-80 w-full overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1  sm:h-64">
                                            <img src="https://plus.unsplash.com/premium_photo-1680158492794-79896e951487?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="h-full w-full object-cover object-center" />
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </section>
                        {# {/* boisson */} #}
                        <section class="mt-4 bg-white rounded-lg shadow-lg p-4">
                            <h2 class="text-2xl m-4  text-green-700 font-semibold text-center">Nos Boisson</h2>
                            <div>

                                <button  class="w-full">
                                    <div class="group relative  bg-white rounded-lg shadow-lg p-4 transform hover:scale-105 transition-transform mb-6">
                                        <h3 class=" text-2xl text-green-700 text-center font-semibold m-4">Aperitifs</h3>
                                        <div class="relative h-80 w-full overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1  sm:h-64">
                                            <img src="https://plus.unsplash.com/premium_photo-1663047175170-44256eac4189?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="h-full w-full object-cover object-center" />
                                        </div>
                                    </div>
                                </button>

                                <button  class="w-full">
                                    <div class="group relative  bg-white rounded-lg shadow-lg p-4 transform hover:scale-105 transition-transform mb-6">
                                        <h3 class=" text-2xl text-green-700 text-center font-semibold m-4">Carte des Vins</h3>
                                        <div class="relative h-80 w-full overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1  sm:h-64">
                                            <img src="https://images.unsplash.com/photo-1600320183466-7198f22d3c8a?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="h-full w-full object-cover object-center" />
                                        </div>

                                    </div>
                                </button>
                            </div>

                        </section>
                        {# {/* formulaire */} #}
                        <section id="form" class="bg-gray-100 rounded-lg shadow-lg p-4 mb-4">

                            <form>
                                <div class=" justify-center items-center mt-16">
                                    <h3 class=" text-2xl text-green-700 text-center font-semibold m-4"> contactez nous</h3>
                                    <p class="text-base text-center  text-gray-900 m-4">Pour plus en renseignement ou pour finaliser une réservation</p>
                                </div>
                                <div class="mx-auto  max-w-xl sm:mt-20">
                                    <div class="">

                                        <div class="flex">
                                            <div>
                                                <label htmlFor="Nom" class=" block text-sm font-semibold leading-6 text-gray-900">
                                                    Nom
                                                </label>
                                                <div class="m-2.5">
                                                    <input type="text" name="Nom" id="Nom" class=" block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                                </div>
                                            </div>
                                            <div>
                                                <label htmlFor="Prenom" class="block text-sm font-semibold leading-6 text-gray-900">
                                                    Prénom
                                                </label>
                                                <div class="m-2.5">
                                                    <input type="text" name="Prenom" id="Prenom" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label htmlFor="Telephone" class="block text-sm font-semibold leading-6 text-gray-900">
                                                Téléphone
                                            </label>
                                            <div class="mt-2.5">
                                                <input type="text" name="Telephone" id="Telephone" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                            </div>
                                        </div>
                                        <div>
                                            <label htmlFor="email" class="block text-sm font-semibold leading-6 text-gray-900">
                                                E mail
                                            </label>
                                            <div class="mt-2.5">
                                                <input type="email" name="email" id="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                            </div>
                                        </div>
                                        <div>
                                            <label htmlFor="message" class="block text-sm font-semibold leading-6 text-gray-900">
                                                Message
                                            </label>
                                            <div class="mt-2.5">
                                                <textarea name="message" id="message" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                                            </div>
                                        </div>
                                        <div class="mt-10">
                                            <button

                                                type="submit" class="block w-full rounded-md bg-green-700 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-sky-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                                Envoyer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>

                    </div>
                </div>
            </div>
            
        </main>


{% endblock %}
