<footer class='bg-green-700 flex h-32'>
    <div text-white class='text-white flex flex-col p-4'>
        <a href="">Mentions légales</a>
        <a href="">Aide & FAQ</a>
        <a href="">Partenaires</a>
    </div>
    <div class='text-white flex flex-col p-4'>
        <FaFacebook class='m-1 ' />
        <FaInstagramSquare class='m-1' />
        <AiFillTwitterCircle class='m-1' />

    </div>

</footer>